# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
list/

# Model files
*.weights
*.h5
*.model
*.pt
*.pth
*.onnx
*.pkl
*.joblib
models/

# IDE
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/
node_modules/

# Logs
*.log

# Local development
.webassets-cache